<section id="adresse" class="conteiner">
    <h2 class="reviews-title">ADRESSE
    </h2>

    <ul class="reviews-card-list">
        <li class="reviews-card ">
            <img class="reviews-foto" srcset="./img/reviews/equiblick@2x.jpg 2x" src="./img/reviews/equiblick.jpg"
                alt="John foto">
            <h3 class="reviews-card-title">Nordhorn</h3>
            <p class="reviews-card-text">Reit-Fahrverein Nordhorn ,
                Neuenhauser Str. 257, 48527 Nordhorn, Deutschland</p>
        </li>
        <li class="reviews-card">
            <img class="reviews-foto " srcset="./img/reviews/equiblick@2x.jpg 2x" src="./img/reviews/equiblick.jpg"
                alt="Victoria foto">
            <h3 class="reviews-card-title">Nordhorn</h3>
            <p class="reviews-card-text">Neuenhauser Str. 257, 48527 Nordhorn, Deutschland</p>
        </li>

    </ul>
</section>