<section id="fliegenschutz" class="box conteiner">
    <h2 class="box-title">FLIEGENSCHUTZ</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/141.jpg" alt="yacht">
                </picture>
                <p class="overley"> Hohe Wirksamkeit über viele Stunden.
                    Westindisches Zitronengras: Wird oft als Heilpflanze verwendet da diese eine Vielzahl chemischer
                    Substanzen enthalten, die eine gesundheitsfördernde Wirkung haben sollen. Die ätherischen Öle aus
                    dem Zitronengras werden
                    aufgrund ihres aromatischen Dufts auch zur Abwehr von Insekten eingesetzt.
                    Geraniumöl: enthält neben vielen anderen Bestandteilen auch Geraniol. Geraniol ist ein Naturstoff,
                    der auf Insekten eine
                    abwehrende Wirkung hat.
                </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Bremse Stop 500ml</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">

                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.50</li>
                        <li>141</li>
                    </ul>

                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/fliegenschutz/162.jpg" alt="yacht">
                </picture>
                <p class="overley"> Genieße entspannte Momente mit deinem Pferd, frei von lästigen Insekten! Das NAF
                    Citronella Spray sorgt dafür, dass
                    Mücken, Fliegen und andere nervige Insekten fern bleiben. Der angenehme Zitronenduft macht die
                    Anwendung besonders
                    angenehm. Wichtige Eigenschaften

                    Langanhaltender Insektenschutz
                    Angenehmer Zitronenduft
                    Inhalt: Citronellal, Citronellol, Geraniol, Geranial, Limonen, Eugenol, Linalool und Farnesol
                    Einfach anzuwenden: Vor Gebrauch schütteln und auf das Fell sprühen
                    750 ml pro Flasche</p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Citronella Spray 750ml</p>
                    <p class="firma">NAF</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€7.00</li>
                        <li>162</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/fliegenschutz/216.jpg" alt="yacht">
                </picture>
                <p class="overley"> Der Effol Bremsen-Blocker + ist ein starkes und hochwirksames Bremsen-Abwehrspray.
                    Starker & langanhaltender Schutz.
                    Vor Bremsen, Zecken, Mücken & Fliegen.
                    Wirkt vorbeugend bei Sommerekzem.
                    Dermatologisch getestet. </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Bremsen Blocker+ 500ml</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€22.50</li>
                        <li>216</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/217.jpg" alt="yacht">
                </picture>
                <p class="overley"> Unser Superstar der Fellpflege

                    • spendet einen strahlenden Glanz

                    • erleichtert das Putzen über mehrere Tage

                    • löst Knoten, Späne und Stroh beim Kämmen wie von allein

                    • Schweif und Mähne bekommen Sprungkraft und Volumen

                    Effol SuperStar-Shine spendet einen bisher nie erreichten strahlenden Glanz, ohne dass sich Fell und
                    Langhaar künstlich
                    anfühlen. Das Putzen wird erleichtert, garantiert über mehrere Tage. Das Glanzspray löst Knoten,
                    Späne und Stroh beim
                    Kämmen wie von allein Schweif und Mähne bekommen Sprungkraft und Volumen. Sprödes, trockenes Haar
                    wird erfolgreich
                    vermieden. Die Hautfreundlichkeit ist dermatologisch mit sehr gut getestet. </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Super Star Shine 750ml</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>217</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/218.jpg" alt="yacht">
                </picture>
                <p class="overley"> Langanhaltende Insektenabwehr
                    Gebrauchsfertige Lösung
                    Hautfreundlich und dermatologisch getestet
                    Geeignet für Anfang bis Ende der Fliegen-Saison
                    Praktische Handhabung und für die tägliche Anwendung
                    Das Fliegenspray Anti-Fly von Effol ist ideal für die Abwehr von kleinen, nervigen Insekten.

                    Das Spray überzeugt, da es sich um eine hautfreundliche Lösung handelt, welche mit Eigengeruch und
                    Wirkstoffkomplex
                    langanhaltend gegen Insekten wirkt. Anti-Fly wirkt außerdem gegen Stallfliegen am Anfang und Ende
                    der Fliegensaison.

                </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Anti Fly Spray 500ml</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€19.50</li>
                        <li>218</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/137.jpg" alt="maske">
                </picture>
                <p class="overley"> 137 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Maske</p>
                    <p class="firma">equi</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€14.00</li>
                        <li> 137</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>