<section id="fliegenschutz" class="box conteiner">
    <h2 class="box-title">FLIEGENSCHUTZ</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">

                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>

                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>


                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li> 101</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>