<section id="fliegenschutz" class="box conteiner">
    <h2 class="box-title">FLIEGENSCHUTZ</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/141.jpg" alt="yacht">
                </picture>
                <p class="overley"> Hohe Wirksamkeit über viele Stunden.
                    Westindisches Zitronengras: Wird oft als Heilpflanze verwendet da diese eine Vielzahl chemischer
                    Substanzen enthalten, die eine gesundheitsfördernde Wirkung haben sollen. Die ätherischen Öle aus
                    dem Zitronengras werden
                    aufgrund ihres aromatischen Dufts auch zur Abwehr von Insekten eingesetzt.
                    Geraniumöl: enthält neben vielen anderen Bestandteilen auch Geraniol. Geraniol ist ein Naturstoff,
                    der auf Insekten eine
                    abwehrende Wirkung hat.
                </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Bremse Stop 500ml</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">

                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>141</li>
                    </ul>

                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/fliegenschutz/162.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/fliegenschutz/216.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/217.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/218.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>101</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/137.jpg" alt="mask">
                </picture>
                <p class="overley"> 137 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Bremsen Stop 500ml</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li> 137</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>