<section class="footer-section">
    <div class="footer">
        <div class="footer-box-nav">
            <div class="footer-logo-nav">
                <a href="#hero">
                    <h3 class="footer-logo">equiblick</h3>
                </a>
                <ul class="footer-navigation-list">
                    <li class="footer-navigation-item"><a class="footer-a" href="#fliegenschutz">Fliegenschutz</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#lederpflege">Lederpflege</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#pferdepflege">Pferdepflege</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#hufpflege">Hufpflege</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#reitbedarf">Reitbedarf</a>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#pferdezubehör">Pferdezubehör</a>
                    </li>
                    </li>
                    <li class="footer-navigation-item"><a class="footer-a" href="#info">INFO</a>
                    </li>
                </ul>
            </div>
            <ul class="footer-social-list">
                <li class="footer-social-item">
                    <a class="elips-foot" href="https://www.instagram.com/equi_blick/">
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="elips-foot" href="https://www.youtube.com/c/equiblick">
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-social-item">
                    <a class="elips-foot" href="https://www.facebook.com/equiblick/">
                        <svg class="social-list-icon" width="24" height="24">
                            <use href="./img/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
        <p class="footer-haslo">Über uns



            Willkommen bei Equiblick – deinem zuverlässigen Partner für Reitsport- und Pferdebedarf direkt am Stall.

            Unser innovativer Verkaufsautomat bietet dir eine große Auswahl an Pflegeprodukten für Pferde, nützlichem
            Zubehör für
            den Reitsport sowie praktischen Kleinigkeiten, die du im Alltag mit deinem Pferd brauchst.</p>


        <p class="footer-haslo1">

            Unser Automat ist 365 Tage im Jahr, rund um die Uhr für dich geöffnet. Keine langen Fahrten mehr – alles,
            was du suchst,
            findest du sofort vor Ort.



            Da es in der Umgebung keinen anderen Reitsportladen gibt, ist Equiblick die schnelle, unkomplizierte und
            zuverlässige
            Lösung für alle Reiterinnen und Reiter, die Wert auf Qualität und Nähe legen.</p>
        <p class="footer-haslo1">

            🌱 Nachhaltigkeit liegt uns am Herzen:

            Wir verzichten auf unnötiges Verpackungsmaterial, da unsere Produkte direkt am Stall erhältlich sind – ohne
            Versand,
            ohne zusätzlichen Müll.

            Unsere modernen Automaten arbeiten mit energieeffizienter Technologie und verbrauchen nur sehr wenig Strom.



            So kombinieren wir praktischen Service, Verfügbarkeit und Umweltfreundlichkeit – für dich und dein Pferd.
        </p>
        <div class="footer-atribut-list">
            <p class="footer-atribut">2025. Equiblick Adventures</p>
        </div>
    </div>
</section>