<section id="info" class="conteiner advantages">
    <p class="visually-hidden">advantages</p>
    <ol class="advantages-list">
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">01</h3>

            <p class="adv-list-text">Wählen Sie ein Produckt.</p>
        </li>
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">02</h3>

            <p class="adv-list-text">Wählen Sie eine Zahlungsmethode: Karte oder Bargeld. Zahlung leisten.</p>
        </li>
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">03</h3>

            <p class="adv-list-text">Nehmen Sie die Ware und schliessen Sie das Schliessfach.</p>
        </li>
        <li class="advantages-list-item">
            <h3 class="adv-list-nomer">04</h3>

            <p class="adv-list-text">Geniessen Sie die Qualität unserer Produkte und Ihr Leben.</p>
        </li>
    </ol>
    <div class="adv-picture">
        <picture>
            <source srcset="./img/rent/rent-laptop2.jpg 1x, ./img/rent/rent-laptop2@2x.jpg 2x"
                media="(min-width: 1440px)">
            <source srcset="./img/rent/rent-laptop1.jpg 1x, ./img/rent/rent-laptop1@2x.jpg 2x"
                media="(min-width: 1280px)">
            <source srcset=" ./img/rent/rent-tablet.jpg 1x, ./img/rent/rent-tablet@2x.jpg 2x"
                media="(min-width: 768px)">
            <source srcset=" ./img/rent/rent-mobile.jpg 1x, ./img/rent/rent-mobile@2x.jpg 2x"
                media="(max-width: 767px)">
            <img src="./img/rent/rent-mobile1.jpg" alt="yacht">
        </picture>
    </div>
</section>