<section id="lederpflege" class="ouryachts conteiner">
    <h2 class="box-title">LEDERPFLEGE</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/lederpflege/114.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Lederöl Hell</p>
                    <p class="firma">HIPPOTONIK</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>box</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€9.50</li>
                        <li>114</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/lederpflege/144.jpg" alt="yacht">
                </picture>
                <p class="overley"> 1KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Lederpflege Fix</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€9.50</li>
                        <li>144</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/Lederpflege/155.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">LEATHER SOAP</p>
                    <p class="firma">HIPPOTONIK</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€11.50</li>
                        <li>155</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/lederpflege/164.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT</p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Glycerin Seife</p>
                    <p class="firma">EFFAX</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€9.00</li>
                        <li>164</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/lederpflege/223.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">LEDER COMBI</p>
                    <p class="firma">EFFAX</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€12.50</li>
                        <li>223</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>