<section id="lederpflege" class="ouryachts conteiner">
    <h2 class="box-title">LEDERPFLEGE</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop22.jpg 1x, ./img/our-yacht/our-yacht-laptop22@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop12.jpg 1x, ./img/our-yacht/our-yacht-laptop12@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset=" ./img/our-yacht/our-yacht-tablet2.jpg 1x, ./img/our-yacht/our-yacht-tablet2@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop22.jpg 1x, ./img/our-yacht/our-yacht-laptop22@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop12.jpg 1x, ./img/our-yacht/our-yacht-laptop12@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset=" ./img/our-yacht/our-yacht-tablet2.jpg 1x, ./img/our-yacht/our-yacht-tablet2@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop22.jpg 1x, ./img/our-yacht/our-yacht-laptop22@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop12.jpg 1x, ./img/our-yacht/our-yacht-laptop12@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset=" ./img/our-yacht/our-yacht-tablet2.jpg 1x, ./img/our-yacht/our-yacht-tablet2@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop22.jpg 1x, ./img/our-yacht/our-yacht-laptop22@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop12.jpg 1x, ./img/our-yacht/our-yacht-laptop12@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset=" ./img/our-yacht/our-yacht-tablet2.jpg 1x, ./img/our-yacht/our-yacht-tablet2@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop22.jpg 1x, ./img/our-yacht/our-yacht-laptop22@2x.jpg 2x"
                        media="(min-width: 1440px)">
                    <source
                        srcset="./img/our-yacht/our-yacht-laptop12.jpg 1x, ./img/our-yacht/our-yacht-laptop12@2x.jpg 2x"
                        media="(min-width: 1280px)">
                    <source
                        srcset=" ./img/our-yacht/our-yacht-tablet2.jpg 1x, ./img/our-yacht/our-yacht-tablet2@2x.jpg 2x"
                        media="(min-width: 768px)">
                    <img src="./img/our-yacht/our-yacht-tablet2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>