<section id="pferdepflege" class="ouryachts conteiner">
    <h2 class="box-title">PFERDEPFLEGE</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/130.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">HOOF SOLUTION 150GR</p>
                    <p class="firma">KEVIN BACON'S</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€22.50</li>
                        <li>130</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/132.jpg" alt="yacht">
                </picture>
                <p class="overley"> Manager </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">COOLING WASH 500ML</p>
                    <p class="firma">NAF</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.50</li>
                        <li>132</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/136.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">DREAMCOAT 500ML</p>
                    <p class="firma">CARR & DAY & MARTIN</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>136</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/138.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">CANTER MANE & TAIL CONDITIONER</p>
                    <p class="firma">CARR & DAY & MARTIN</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>138</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/139.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">BELVOIR TACK CLEANER SPRAY</p>
                    <p class="firma">CARR & DAY & MARTIN</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€11.50</li>
                        <li>139</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/142.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">BRAID IT UP MUSS 500ML</p>
                    <p class="firma">NAF</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€17.50</li>
                        <li>142</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/143.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 p </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">ICE COOL GEL 500ML</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€10.50</li>
                        <li>143</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/145.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">STRAHLSCHUTZ 250ML</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€12.50</li>
                        <li>145</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/147.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">SHOW OFF 500ML</p>
                    <p class="firma">NAF</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.50</li>
                        <li>147</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/157.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Styli </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">DTANG.SILK.MANE&TAIL SPRAY 750ML</p>
                    <p class="firma">NAF</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.50</li>
                        <li>157</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/158.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">STRIGEL 1L</p>
                    <p class="firma">EQUINATURA</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€17.00</li>
                        <li>158</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/163.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">ICE COOL GEL 1L</p>
                    <p class="firma">NAF</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€27.00</li>
                        <li>163</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/207.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">CANTER MANE & TAIL CONDITIONER</p>
                    <p class="firma">CARR & DAY & MARTIN</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€28.90</li>
                        <li>207</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/208.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">HOOF DRESSING ORIGINAL 1L</p>
                    <p class="firma">KEVIN BACON'S</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€19.00</li>
                        <li>208</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/209.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">HOOF DRESSING LIQ. 1L</p>
                    <p class="firma">KEVIN BACON'S</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€27.00</li>
                        <li>209</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/210.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">ARGYL TENDY FLASH 1KG</p>
                    <p class="firma">ALODIS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€25.00</li>
                        <li>210</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/222.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">REFRESH GEL, FLICFLAC</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>222</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/224.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">HAUT REPAIR</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.50</li>
                        <li>140</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/140.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">SHOWSHEEN LUSTRANTE 950ML</p>
                    <p class="firma">ABSORBIN</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€35.50</li>
                        <li>224</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/fliegenschutz/217.jpg" alt="yacht">
                </picture>
                <p class="overley"> Unser Superstar der Fellpflege

                    • spendet einen strahlenden Glanz

                    • erleichtert das Putzen über mehrere Tage

                    • löst Knoten, Späne und Stroh beim Kämmen wie von allein

                    • Schweif und Mähne bekommen Sprungkraft und Volumen

                    Effol SuperStar-Shine spendet einen bisher nie erreichten strahlenden Glanz, ohne dass sich Fell und
                    Langhaar künstlich
                    anfühlen. Das Putzen wird erleichtert, garantiert über mehrere Tage. Das Glanzspray löst Knoten,
                    Späne und Stroh beim Kämmen wie von allein Schweif und Mähne bekommen Sprungkraft und Volumen.
                    Sprödes, trockenes Haar
                    wird erfolgreich
                    vermieden. Die Hautfreundlichkeit ist dermatologisch mit sehr gut getestet. </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Super Star Shine 750ml</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>217</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>