<section id="pferdepflege" class="ouryachts conteiner">
    <h2 class="box-title">PFERDEPFLEGE</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/130.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€22.50</li>
                        <li>130</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/132.jpg" alt="yacht">
                </picture>
                <p class="overley"> Manager </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.50</li>
                        <li>132</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/133.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€19.50</li>
                        <li>133</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/134.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€19.50</li>
                        <li>134</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/135.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€19.50</li>
                        <li>135</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/136.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>136</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/138.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>138</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/139.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€15.00</li>
                        <li>139</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/142.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€17.50</li>
                        <li>142</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/143.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 p </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€10.50</li>
                        <li>143</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/145.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€12.50</li>
                        <li>145</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/147.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.50</li>
                        <li>147</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/157.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Styli </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.50</li>
                        <li>157</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/158.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€17.00</li>
                        <li>158</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/163.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€27.00</li>
                        <li>163</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/207.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€28.50</li>
                        <li>207</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/208.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€19.00</li>
                        <li>208</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/209.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€27.00</li>
                        <li>209</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/210.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€25.00</li>
                        <li>210</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>HK</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/222.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€ND.00</li>
                        <li>222</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/224.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€ND.00</li>
                        <li>224</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdepflege/140.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€ND.00</li>
                        <li>140</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>