<section id="pferdezubehör" class="ouryachts conteiner">
    <h2 class="box-title">PFERDEZUBEHÖR</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/101.jpg" alt="yacht">
                </picture>
                <p class="overley"> Verhindert effektiv das Verrutschen der Decke.
                    Auch zur Befestigung eines Schweifschoners geeignet.
                    Verstellbarer, elastischer Gurt für sicheren und bequemen Sitz.
                    Einfacher Lochzapfenverschluss.
                    Unifarbene Ausführung und Einheitsgröße für vielseitige Anwendung. Der elastische Deckengurt von
                    NORTON ist die perfekte Lösung für Pferdeliebhaber, die sicherstellen möchten, dass die
                    Decke ihres Pferdes stets an Ort und Stelle bleibt.

                    Dieser Gurt verhindert effektiv das Verrutschen der Decke und bietet zudem die Möglichkeit, einen
                    Schweifschoner zu
                    befestigen. </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">DECKENGURT</p>
                    <p class="firma">NORTON</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                        <li>FARBE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€9.50</li>
                        <li>101</li>
                        <li>Schwarz</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/103.jpg" alt="yacht">
                </picture>
                <p class="overley"> Die EQUITHEME Startnummern - Kopfnummern Rund mit 3 Ziffern sind perfekt geeignet,
                    um Ihre Startnummer während des
                    Reitens deutlich sichtbar zu machen. Hergestellt aus weißem PVC, sind die Kopfnummern rund und
                    verfügen über 3
                    transparente Fächer mit den Ziffern 0 bis 9. Diese praktischen Kopfnummern werden durch doppeltes
                    Gummi und Haken an den
                    Backenstücken der Trense befestigt, sodass sie sicher an ihrem Platz bleiben. Mit den EQUITHEME
                    Startnummern Kopfnummern
                    Rund mit 3 Ziffern können Sie sich voll und ganz auf Ihr Reiten konzentrieren, ohne sich Gedanken
                    über Ihre Startnummer
                    machen zu müssen. Gönnen Sie sich dieses praktische Accessoire für Ihren nächsten Reitwettkampf!</p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">START NUMMERN</p>
                    <p class="firma">EQUITHEME</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                        <li>FORM</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€8.00</li>
                        <li>103</li>
                        <li>RUND</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/104.jpg" alt="yacht">
                </picture>
                <p class="overley"> Die EQUITHEME Startnummern - Kopfnummern KLETT mit 3 Ziffern sind perfekt geeignet,
                    um Ihre Startnummer während des
                    Reitens deutlich sichtbar zu machen. Hergestellt aus weißem PVC, sind die Kopfnummern KLETT und
                    verfügen über 3
                    transparente Fächer mit den Ziffern 0 bis 9. Diese praktischen Kopfnummern werden durch doppeltes
                    Gummi und Haken an den
                    Backenstücken der Trense befestigt, sodass sie sicher an ihrem Platz bleiben. Mit den EQUITHEME
                    Startnummern Kopfnummern
                    KLETT mit 3 Ziffern können Sie sich voll und ganz auf Ihr Reiten konzentrieren, ohne sich Gedanken
                    über Ihre Startnummer
                    machen zu müssen. Gönnen Sie sich dieses praktische Accessoire für Ihren nächsten Reitwettkampf!
                </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                        <li>FORM</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€4.00</li>
                        <li>104</li>
                        <li>KLETT</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/105.jpg" alt="yacht">
                </picture>
                <p class="overley"> Der Effol Safety Cut wurde für maximale Sicherheit und Präzision entwickelt. Dank
                    eines innovativen Designs können Sie
                    mit dieser Schere bis auf die Haut schneiden, ohne Verletzungsgefahr. Ideal für das Trimmen
                    sensibler Bereiche wie um
                    die Augen und Pfoten, wo besondere Vorsicht geboten ist.

                    Eigenschaften.
                    -Runde Spitzen für sicheres Trimmen.
                    -Geeignet für empfindliche Bereiche.
                    -Entwickelt für präzises Trimmen. </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">SAFETY CUT</p>
                    <p class="firma">EFFOL</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€28.50</li>
                        <li>105</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/106.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">EINFLECHTGUMMIS</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€5.00</li>
                        <li>106</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/108.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€10.00</li>
                        <li>108</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/111.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€14.00</li>
                        <li>111</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/112.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€8.00</li>
                        <li>112</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/113.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€9.00</li>
                        <li>113</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/115.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT</p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€24.50</li>
                        <li>115</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/116.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€6.00</li>
                        <li>116</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/118.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€13.00</li>
                        <li>118</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/151.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€44.50</li>
                        <li>151</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/160.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€14.00</li>
                        <li>160</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/204.jpg" alt="yacht">
                </picture>
                <p class="overley"> 1KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€29.50</li>
                        <li>204</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/205.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€11.50</li>
                        <li>205</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/206.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€11.50</li>
                        <li>206</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/212.jpg" alt="yacht">
                </picture>
                <p class="overley">KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€8.50</li>
                        <li>212</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/213.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€8.50</li>
                        <li>213</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/225.jpg" alt="yacht">
                </picture>
                <p class="overley"> 1KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>225</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/226.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENTp </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€8.00</li>
                        <li>226</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/227.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>227</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/150.jpg" alt="handschuhe">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€23.00</li>
                        <li>150</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/152.jpg" alt="likit">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>152</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/202-2.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>nv</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/146.jpg" alt="granola">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">GRANOLA</p>
                    <p class="firma">LIKIT</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€9.00</li>
                        <li>146</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/148.jpg" alt="likit">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">APPLE</p>
                    <p class="firma">LIKIT</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€7.00</li>
                        <li>148</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/149.jpg" alt="yacht">
                </picture>
                <p class="overley"> KONTENT </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">APPLE</p>
                    <p class="firma">FRIANDISES</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€5.00</li>
                        <li>149</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/150.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€18.00</li>
                        <li>150</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/pferdezubehor/152.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">STARTER</p>
                    <p class="firma">LIKIT</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>152</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>