<section id="pferdepflege" class="ouryachts conteiner">
    <h2 class="box-title">PFERDEPFLEGE</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/130.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/132.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/133.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/134.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/135.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/136.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/138.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/139.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/142.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/143.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/145.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/147.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/157.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/158.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/163.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/207.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/208.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/209.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/210.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/220.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/222.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/pferdepflege/224.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 Stylish and User-Friendly App Design Concepts · Task
                    Manager App · Calorie
                    Tracker
                    App · Exotic Fruit Ecommerce App ·
                    Cloud Storage App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>