<section id="reitbedarf" class="ouryachts conteiner">
    <h2 class="box-title">REITBEDARF</h2>
    <ul class="box-cards">
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/reitbedarf/102.jpg" alt="haarnetz">
                </picture>
                <p class="overley">
                    Für einen glänzenden Haarknoten!
                    Schöner Glanz: Für den Stil.
                    Zuverlässige Fixierung: Bleibt den ganzen Tag an Ort und Stelle.
                    Farbe: schwarz
                </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">HAARNETZ SCHINY</p>
                    <p class="firma">EQUITHEME</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                        <li>FARBE</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€5.00</li>
                        <li>102</li>
                        <li>SCHWARZ</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/reitbedarf/109.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">START NUMMERN</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>109</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/reitbedarf/117.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>117</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>

                    <img src="./img/reitbedarf/118.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>118</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/reitbedarf/203-2.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 App </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>203-2</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="trade-card">
            <div class="trade-over">
                <picture>
                    <img src="./img/reitbedarf/203.jpg" alt="yacht">
                </picture>
                <p class="overley"> 14 </p>
            </div>
            <div class="our-card-content">
                <div class="our-card-title">
                    <p class="trade-name">Arrow</p>
                    <p class="firma">LUXURY YAHTS</p>
                </div>
                <div class="our-card-capacity">
                    <ul class="our-main-list">
                        <li>PRICE</li>
                        <li>BOX</li>
                    </ul>
                    <ul class="our-detail-list">
                        <li>€16.00</li>
                        <li>203</li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
    <a class="our-a" href="#adresse">ADRESSE</a>
</section>